* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.isi{
    width: 100%;
    float: left;
  }
   
  .isinya .col3{
    box-sizing: border-box;
    margin: 0.5%;
    width: 32.33%;
    float: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
  }
   
  .gambar img{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
  }
   
  .judul{
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(#f9f9f9,#ffffff);
    padding: 10px;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
   
  .tanggal{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 0px 10px 10px;
  }
   
  .isiberita{
    padding: 10px;
    text-align: justify;
  }
   
  .tombol{
    width: 100%;
    text-align: right;
  }
   
  .tombol a{
    text-decoration: none;
   
  }
   
  .tombol .btn{
    padding: 10px;
    background-color: #6273c9;
    font-size: 15px;
    color: white;
    padding: 10px 20px 10px 20px;
  }
   
  .tombol .btn:hover{
    background-color: #DD2121;
  }
   
  .tag{
    clear: both;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #4e6af7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
  }

  @media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .isinya .col3{
        width: 50%;
    }
}